<div class="crypto-widget">
  <h3>Crypto Dashboard</h3>

  <app-loading-spinner max-width="100px" max-height="100px" *ngIf="loading()"></app-loading-spinner>
  <div *ngIf="error()" class="error">{{ error() }}</div>

  <table *ngIf="!loading() && !error() && latest().length">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Close Price</th>
        <th>Trend</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of latest()">
        <td>{{ rate.symbol }}</td>
        <td>{{ rate.value | number:'1.2-8' }}</td>
        <td>
  <span class="trend"
    [ngClass]="{
      bullish: rate.trend === '📈' && Math.abs(rate.changePercent) >= 0.01,
      bearish: rate.trend === '📉' && Math.abs(rate.changePercent) >= 0.01,
      neutral: Math.abs(rate.changePercent) < 0.01
    }">

    {{ Math.abs(rate.changePercent) < 0.01 ? '≈' : rate.trend }}
    <strong>
      {{ Math.abs(rate.changePercent) < 0.01 ? '' : (rate.trend === '📈' ? '↑' : '↓') }}
    </strong>

    {{ Math.abs(rate.changePercent) < 0.01 ? '0' : (rate.changePercent | number:'1.2-2') }}%
  </span>
</td>


      </tr>
    </tbody>
  </table>

  <div class="showedtime">
    <p *ngIf="!loading() && !error()">Last updated: {{ getFormattedDate() }}</p>
  </div>
</div>
