.product-card {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, minmax(161px, 1fr));
  gap: 1.5rem;
  max-width: 50%;
  max-height: 70%;
  margin: 1rem 1rem 2rem;


  @media (max-width: 1600px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  @media (max-width: 850px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

   @media (max-width: 750px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.widgets-container {
  display: flex;
  justify-content: center;
  gap: 20px;             // простор меѓу компонентите
  align-items: stretch;   // израмнува по висина
}


@media (max-width: 800px) {
  .widgets-container {
    flex-direction: column;
    align-items: center;
  }
}

.categoryname {
  font-size: 1.5em;
}
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border-left-color: #007bff;
  animation: spin 1s linear infinite;
}

.loading-text {
  font-size: 1rem;
  line-height: 1.4;
  color: #444;
  max-width: 360px;
  font-style: italic;
}

.homepage-illustration {
  max-width: 20%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

@media (max-width: 550px) {
  .homepage-illustration {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

