<app-back-button />
<div class="article-details" *ngIf="news; else loading">
  <h1>{{ news.title }}</h1>
  <img *ngIf="news.image || news.image"
     [src]="news.image || news.image"
     [alt]="news.title"
     class="news-image">
  <p class="meta">
    Author: {{ news.author || 'Unknown' }} |
    Date: {{ news.publishDate | date:'mediumDate' }} |
    Category: {{ news.category }}
  </p>
  <div class="content">
  {{ news.fixedMorningMessage }}
  {{ news.content }}
</div>
</div>

<ng-template #loading>
  <p *ngIf="message">{{ message }}</p>
  <p *ngIf="!message">Loading...</p>
</ng-template>
