<div class="forex-widget">
  <h3>
    {{ currentLanguage === 'DE' ? 'Forex Kurse' : 'Forex Rates' }}
  </h3>

  <app-loading-spinner max-width="100px" max-height="100px"
    *ngIf="loading()"></app-loading-spinner>

  <div *ngIf="error()" class="error">{{ error() }}</div>

  <div class="controls">
    <label for="baseSelect">{{ currentLanguage === 'DE' ? 'Basiswährung:' : 'Base currency:' }}</label>
    <select
      id="baseSelect"
      [ngModel]="selectedBase()"
      (ngModelChange)="onBaseChange($event)"
    >
      <option *ngFor="let b of bases" [value]="b">{{ b }}</option>
    </select>
  </div>

 <div class="currency-grid" *ngIf="latest() && !loading()">
  <div class="currency-card" *ngFor="let r of ratesArray()">

    <div class="card-header">
      <div class="currency-info">
        <img
          class="currency-icon"
          [src]="r.icon"
          [alt]="r.currency"
        />

        <div>
          <div class="currency-symbol">
            {{ r.currency }}
          </div>

          <div class="currency-name">
            {{ r.name }}
          </div>
        </div>
      </div>
    </div>

    <div class="currency-price">
      {{ r.value | number:'1.4-4' }}
    </div>

    <div
      class="currency-trend"
      *ngIf="r.trendInfo"
      [class.up]="r.trendInfo.dailyChange >= 0"
      [class.down]="r.trendInfo.dailyChange < 0">

      <span>
        {{ r.trendInfo.dailyChange >= 0 ? '▲' : '▼' }}
      </span>

      {{ r.trendInfo.dailyChange }}%
    </div>

    <div
      class="currency-trend neutral"
      *ngIf="!r.trendInfo">
      —
    </div>

  </div>
</div>

  <p class="lastupdate" *ngIf="latest()">
    {{ currentLanguage === 'DE' ? 'Zuletzt aktualisiert:' : 'Last updated:' }}
    {{ getFormattedDate(latest()) }}
  </p>
</div>
