.forex-widget {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 100%;
  max-height: 1209px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.currency-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.currency-icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  object-fit: contain;
}

.currency-symbol {
  font-size: 18px;
  font-weight: 600;
}

.currency-name {
  font-size: 13px;
  color: #777;
}

.currency-price {
  margin-top: 8px;
  font-size: 26px;
  font-weight: 500;
}

.currency-trend {
  margin-top: 12px;
  font-weight: 500;
}

.currency-trend.up {
  color: #16a34a;
}

.currency-trend.down {
  color: #dc2626;
}

.currency-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

/* ---------- 1200px ---------- */

@media (max-width: 1200px) {
  .currency-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* ---------- 900px ---------- */

@media (max-width: 900px) {
  .currency-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ---------- 600px ---------- */

@media (max-width: 600px) {
  .forex-widget {
    padding: 14px;
    max-height: 100%;
  }

  .currency-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .currency-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }

  .currency-symbol {
    font-size: 16px;
  }

  .currency-name {
    font-size: 12px;
  }

  .currency-price {
    font-size: 22px;
  }

  .currency-trend {
    font-size: 14px;
  }
}

/* ---------- 470px ---------- */

@media (max-width: 470px) {
  .forex-widget {
    padding: 10px;
  }

  .currency-info {
    bottom: 12px;
  }

  .currency-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .currency-icon {
    width: 18px;
    height: 18px;
    min-width: 18px;
  }

  .currency-symbol {
    font-size: 14px;
  }

  .currency-name {
  font-size: 10px;
  color: #777;
  line-height: 1.2;

  height: 24px;          // резервира простор за 2 реда
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

  .currency-price {
    font-size: 18px;
  }

  .currency-trend {
    font-size: 12px;
  }

  @media (max-width: 350px) {
    .currency-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
