<button (click)="logout()" class="logout-btn">Logout</button>

<div class="add-news-form">
  <h3>📰 Add new Article</h3>

  <input [(ngModel)]="newNews.title" placeholder="Title" />

  <input
    [(ngModel)]="newNews.image"
    placeholder="Cloudinary URL of image"
  />
  <img
    *ngIf="newNews.image"
    [src]="newNews.image"
    alt="News image"
    class="newsImage"
  />

  <textarea [(ngModel)]="newNews.content" placeholder="Content"></textarea>
  <input [(ngModel)]="newNews.author" placeholder="Author" />
  <input [(ngModel)]="newNews.publishDate" type="date" placeholder="Date" />
  <input [(ngModel)]="newNews.category" placeholder="Category" />

  <button (click)="addNews()">Add</button>
  <p class="message">{{ message }}</p>
</div>

<hr />

<div class="news-list">
  <h3>📜 News List</h3>
  <div *ngFor="let news of newsList" class="news-item">
    <div *ngIf="editingNewsId !== news.id">
      <h4>{{ news.title }}</h4>
      <img
        *ngIf="news.image"
        [src]="news.image"
        class="preview"
        alt="News image"
      />
      <p>{{ news.content }}</p>
      <p>Author: {{ news.author }} | Date: {{ news.publishDate | date }}</p>
      <p>Category: {{ news.category }}</p>

      <div class="actions">
        <button (click)="startEdit(news)">✏️ Edit</button>
        <button (click)="openDeleteModal(news.id)">🗑️ Delete</button>
      </div>
    </div>

    <div *ngIf="editingNewsId === news.id" class="edit-form">
      <input [(ngModel)]="editedNews.title" placeholder="Title" />
      <input
        [(ngModel)]="editedNews.image"
        placeholder="Cloudinary URL of image"
      />
      <img
        *ngIf="editedNews.image"
        [src]="editedNews.image"
        class="preview"
        alt="News image"
      />
      <textarea [(ngModel)]="editedNews.content" placeholder="Content"></textarea>
      <input [(ngModel)]="editedNews.author" placeholder="Author" />
      <input
        [(ngModel)]="editedNews.publishDate"
        type="date"
        placeholder="Date"
      />
      <input [(ngModel)]="editedNews.category" placeholder="Category" />
      <div class="actions">
        <button (click)="saveEdit()">💾 Save</button>
        <button (click)="cancelEdit()">❌ Cancel</button>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal
  *ngIf="showDeleteModal"
  [message]="'Are you sure you want to delete this news article?'"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()">
</app-confirm-modal>
