.dashboard {
  padding: 1rem;

  nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.no-access {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
