.dashboard {
  padding: 1rem;

  nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.widgets-container {
  display: flex;
  justify-content: center;
  gap: 20px;             // простор меѓу компонентите
  align-items: stretch;   // израмнува по висина
}


@media (max-width: 800px) {
  .widgets-container {
    flex-direction: column;
    align-items: center;
  }
}
